.body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img{
    width: 200px;
    height: 200px;
    margin: 400px;
    flex: center;
}


.teksta-krasa{
    flex-wrap: nowrap;
    
    height: 150px;
    color: rgb(252, 246, 246);
    background-color:rgb(238, 223, 173);
}

.vidus{
   flex-wrap: unset;
    color: aliceblue;
    background-color:rgb(228, 218, 129) ;
    height: 100px;
}
.carousel{
    height: 500px;
    width: 500px;
}