.body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img{
    width: 200px;
    height: 200px;
    margin: 400px;
}

*{
    margin:0;
}
.item{
    background-color: rgb(238, 236, 236);
    border: 1px solid;

}
.container{
    display: grid;
    grid-template-columns: 50px 110px 345px ;
    gap: 10px;
}
.viens{
    background-color: rgb(255, 255, 255);
    grid-column: span 3;
    grid-row: span 2;
    border: solid 1px;
}

.teksta-krasa{
    flex-wrap: nowrap;
    
    height: 150px;
    color: rgb(252, 246, 246);
    background-color:rgb(238, 223, 173);
}

.vidus{
   flex-wrap: unset;
    color: aliceblue;
    background-color:rgb(228, 218, 129) ;
    height: 100px;
}
.carousel{
    height: 500px;
    width: 500px;
}